site_name: PhoenixCore Docs
site_url: https://Phoenixvine32908.github.io/PhoenixCore/
repo_name: PhoenixCore
repo_url: https://github.com/Phoenixvine32908/PhoenixCore
edit_uri: blob/main/docs/content/
docs_dir: docs/content

theme:
  name: material
  # ... (your logo/favicon/palette settings stay the same)
  features:
    - navigation.instant
    - navigation.sections
    - navigation.indexes
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - toc.follow
    - content.code.annotate
    - content.action.view

# Add this for the GTM Version Selector
extra:
  version:
    provider: mike

plugins:
  - search
  - mike # Required for versioning
  - awesome-pages:
      collapse_single_pages: true

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - tables
  - md_in_html
  - pymdownx.betterem
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
