site_name: PhoenixCore Docs
site_url: https://Phoenixvine32908.github.io/PhoenixCore/
repo_name: PhoenixCore
repo_url: https://github.com/Phoenixvine32908/PhoenixCore
edit_uri: blob/main/docs/content/
docs_dir: content
site_dir: site

theme:
  name: material
  logo: assets/icon.png
  favicon: assets/icon.png
  icon:
    repo: fontawesome/brands/github
  palette:
    - scheme: default
      primary: deep-purple
      accent: deep-purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: deep-purple
      accent: deep-purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.instant
    - navigation.sections
    - navigation.indexes
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - toc.follow
    - content.code.annotate
    - content.action.view

plugins:
  - search
  - awesome-pages:
      collapse_single_pages: true

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - tables
  - md_in_html
  - pymdownx.betterem
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
