name: Deploy Docs
on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with: { python-version: '3.11' }
      
      - name: Install dependencies
        run: pip install mkdocs-material mkdocs-awesome-pages-plugin
      
      - name: Build
        run: mkdocs build
      
      - name: Upload & Deploy
        uses: actions/upload-pages-artifact@v3
        with: { path: 'site' }
      
      - name: Deploy
        uses: actions/deploy-pages@v4
