name: Publish docs via GitHub Pages
on:
  workflow_dispatch:
  push:
    branches: ["main"] # Change this to "1.20.1" if that's your branch name
    paths: ['docs/**']

permissions:
  contents: write

jobs:
  build:
    name: build docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install packages
        run: |
          pip install mkdocs-material 
          pip install mkdocs-awesome-pages-plugin
          pip install mike

      - name: Set git credentials
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'

      - name: Deploy 1.20.1 Docs
        # This tells mike to build the current branch as "1.20.1"
        run: |
          mike deploy 1.20.1 --push --update-aliases
          mike set-default 1.20.1 --push
